<% flash.each do |type, message| %>
  <p>
    <%if message.present?%>
      <%if type == "notice"%>
        <div class="<%= type %>">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= message %>
        </div>
      <%else%>
        <% message.each do |msg| %>
          <div class="<%= type %>">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= msg %>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </p>
<% end %>
<style>
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  .notice {
    padding: 20px;
    background-color: #04AA6D; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
</style>
